.noticePanel {
	float:left;
	min-height:500px;
	max-height:500px;
	margin:10px;
}

.noticePanel table, th, td {
	border-collapse:collapse;
	border:1px solid;
	border-color:white;
	padding : 5px;
}

.noticePanel th {
	background-color:#C0C0C0;
}

.noticePanel table {
	margin-bottom : 10px;
}
